@page "/Master/ShipTo"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Spinner
@using GFCA.WebUI.Models.SAP
@namespace GFCA.WebUI.Pages.Masters

<ContentMain>
    <Row>
        <Column Classes="col.md._12">
            <Card>
                <Header>
                    <CardTitle>
                        <i class="ion ion-clipboard mr-1"></i>
                        Ship to ...
                    </CardTitle>
                </Header>
                <Body>

                    <SfGrid TValue="ShipToMaster" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new string[] { "Add", "Edit", "Delete" })">
                        <SfDataManager AdaptorInstance="@typeof(ShipToAdaptor)" Adaptor="Syncfusion.Blazor.Adaptors.CustomAdaptor"></SfDataManager>
                        <GridEvents OnActionComplete="ActionCompleteHandler" TValue="ShipToMaster"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <Template>
                                @{
                                    var model = (context as ShipToMaster);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtCustomerCode" @bind-Value="@(model.CustomerCode)" Enabled="@(EnabledAdd)" FloatLabelType="FloatLabelType.Always" Placeholder="CustomerCode"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtCustomerName" @bind-Value="@(model.CustomerName)" FloatLabelType="FloatLabelType.Always" Placeholder="CustomerName"></SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtSaleOrg" @bind-Value="@(model.SalesOrg)" FloatLabelType="FloatLabelType.Always" Placeholder="SaleOrg"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtDistributionChannel" @bind-Value="@(model.DistributionChannel)" FloatLabelType="FloatLabelType.Always" Placeholder="Channel"></SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfNumericTextBox ID="txtPartnerCounter" @bind-Value="@(model.PartnerCounter)" TValue="int?" FloatLabelType="FloatLabelType.Always" Placeholder="PartnerCounter"></SfNumericTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtPFCode" @bind-Value="@(model.PFCode)" FloatLabelType="FloatLabelType.Always" Placeholder="PFCode"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtPFName" @bind-Value="@(model.PFName)" FloatLabelType="FloatLabelType.Always" Placeholder="PFName"></SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(ShipToMaster.CustomerCode) HeaderText="CustomerCode" IsPrimaryKey="true" TextAlign="@TextAlign.Center" HeaderTextAlign="@TextAlign.Center" Width="140"
                                        ValidationRules="@(new ValidationRules{ Required=true, Number=false})"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                                        ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.CustomerName) HeaderText="CustomerCode" Width="150"
                                        ValidationRules="@(new ValidationRules{ Required=true})"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.SalesOrg) HeaderText="SalesOrg" Width="150"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.DistributionChannel) HeaderText="Channel" Width="150"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.PartnerCounter) HeaderText="Partner" Width="150"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.PFCode) HeaderText="PFCode" Width="150"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(ShipToMaster.PFName) HeaderText="CustUOM" Width="150"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                        </GridColumns>
                    </SfGrid>

                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>
