@page "/Master/BusinessParties/Customers"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Spinner
@using GFCA.Shared.Models.Dto

@namespace GFCA.WebUI.Pages.Masters.BusinessParties.Customers

<ContentMain>
    <Row>
        <Column Classes="col.md._12">
            <Card>
                <Header>
                    <CardTitle>
                        <i class="ion ion-clipboard mr-1"></i>
                        Customer Masters
                    </CardTitle>
                </Header>
                <Body>

                    <SfGrid TValue="CustomerDto" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new string[] { "Add", "Edit", "Delete" })">
                        <SfDataManager AdaptorInstance="@typeof(CustomerService)" Adaptor="Syncfusion.Blazor.Adaptors.CustomAdaptor"></SfDataManager>
                        <GridEvents OnActionComplete="ActionCompleteHandler" TValue="CustomerDto"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <Template>
                                @{
                                    var model = (context as CustomerDto);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtCustomerCode" @bind-Value="@(model.CustomerCode)" Enabled="@(EnabledAdd)" FloatLabelType="FloatLabelType.Always" Placeholder="Code"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtShortName" @bind-Value="@(model.ShortName)" FloatLabelType="FloatLabelType.Always" Placeholder="ShortName"></SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <SfTextBox ID="txtCustomerName" @bind-Value="@(model.CustomerName)" FloatLabelType="FloatLabelType.Always" Placeholder="Name"></SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtCustomerGroup" @bind-Value="@(model.CustomerGroup)" FloatLabelType="FloatLabelType.Always" Placeholder="Group"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtAccountNo" @bind-Value="@(model.AccountNo)" FloatLabelType="FloatLabelType.Always" Placeholder="AccountNo"></SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(CustomerDto.CustomerId) IsPrimaryKey="true" Visible="false" />
                            <GridColumn Field=@nameof(CustomerDto.CustomerCode) HeaderText="CustomerCode" TextAlign="@TextAlign.Left" HeaderTextAlign="@TextAlign.Center" Width="90"
                                        ValidationRules="@(new ValidationRules{ Required=true })"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                                        ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.CustomerName) HeaderText="CustomerName" Width="250"
                                        ValidationRules="@(new ValidationRules{ Required=true})"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.ShortName) HeaderText="ShortName" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.CustomerGroup) HeaderText="CustomerGroup" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.AccountNo) HeaderText="AccountNo" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>

                            <GridColumn Field=@nameof(CustomerDto.CreatedBy) HeaderText="Created By" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.CreatedDate) HeaderText="Created Date" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.UpdatedBy) HeaderText="Updated By" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(CustomerDto.UpdatedDate) HeaderText="Updated Date" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                        </GridColumns>
                    </SfGrid>

                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>