@page "/Master/Organizations/Departments"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Spinner


@namespace GFCA.WebUI.Pages.Masters.Organizations.Departments

<ContentMain>
    <Row>
        <Column Classes="col.md._12">
            <Card>
                <Header>
                    <CardTitle>
                        <i class="ion ion-clipboard mr-1"></i>
                        Department Masters
                    </CardTitle>
                </Header>
                <Body>

                    <SfGrid TValue="DepartmentDto" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new string[] { "Add", "Edit", "Delete" })">
                        <SfDataManager AdaptorInstance="@typeof(DepartmentService)" Adaptor="Syncfusion.Blazor.Adaptors.CustomAdaptor"></SfDataManager>
                        <GridEvents OnActionComplete="ActionCompleteHandler" TValue="DepartmentDto"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <Template>
                                @{
                                    var model = (context as DepartmentDto);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtBranchCode" @bind-Value="@(model.BranchCode)" Enabled="@(EnabledAdd)" FloatLabelType="FloatLabelType.Always" Placeholder="Code"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtBranchName" @bind-Value="@(model.BranchName)" FloatLabelType="FloatLabelType.Always" Placeholder="Department"></SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(DepartmentDto.DepartmentId) IsPrimaryKey="true" Visible="false" />
                            <GridColumn Field=@nameof(DepartmentDto.BranchCode) HeaderText="Code" TextAlign="@TextAlign.Left" HeaderTextAlign="@TextAlign.Center" Width="90"
                                        ValidationRules="@(new ValidationRules{ Required=true })"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                                        ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                            <GridColumn Field=@nameof(DepartmentDto.BranchName) HeaderText="Name" Width="250"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>

                            <GridColumn Field=@nameof(DepartmentDto.CreatedBy) HeaderText="Created By" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(DepartmentDto.CreatedDate) HeaderText="Created Date" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(DepartmentDto.UpdatedBy) HeaderText="Updated By" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(DepartmentDto.UpdatedDate) HeaderText="Updated Date" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                        </GridColumns>
                    </SfGrid>

                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>
