@page "/Master/BusinessParties/Suppliers"
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Spinner
@using GFCA.Shared.Models.Dto
@namespace GFCA.WebUI.Pages.Masters.BusinessParties.Suppliers

<ContentMain>
    <Row>
        <Column Classes="col.md._12">
            <Card>
                <Header>
                    <CardTitle>
                        <i class="ion ion-clipboard mr-1"></i>
                        Supplier Masters
                    </CardTitle>
                </Header>
                <Body>

                    <SfGrid TValue="SupplierDto" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new string[] { "Add", "Edit", "Delete" })">
                        <SfDataManager AdaptorInstance="@typeof(SupplierService)" Adaptor="Syncfusion.Blazor.Adaptors.CustomAdaptor"></SfDataManager>
                        <GridEvents OnActionComplete="ActionCompleteHandler" TValue="SupplierDto"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <Template>
                                @{
                                    var model = (context as SupplierDto);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtSupplierCode" @bind-Value="@(model.SupplierCode)" Enabled="@(EnabledAdd)" FloatLabelType="FloatLabelType.Always" Placeholder="Code"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtSupplierName" @bind-Value="@(model.SupplierName)" FloatLabelType="FloatLabelType.Always" Placeholder="Supplier"></SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(SupplierDto.SupplierId) IsPrimaryKey="true" Visible="false" />
                            <GridColumn Field=@nameof(SupplierDto.SupplierCode) HeaderText="Code" TextAlign="@TextAlign.Left" HeaderTextAlign="@TextAlign.Center" Width="90"
                                        ValidationRules="@(new ValidationRules{ Required=true })"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                                        ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                            <GridColumn Field=@nameof(SupplierDto.SupplierName) HeaderText="Name" Width="250"
                                        ValidationRules="@(new ValidationRules{ Required=true})"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>

                            <GridColumn Field=@nameof(SupplierDto.CreatedBy) HeaderText="Created By" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(SupplierDto.CreatedDate) HeaderText="Created Date" Width="100"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })"></GridColumn>
                            <GridColumn Field=@nameof(SupplierDto.UpdatedBy) HeaderText="Updated By" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                            <GridColumn Field=@nameof(SupplierDto.UpdatedDate) HeaderText="Updated Date" Width="80"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>
                        </GridColumns>
                    </SfGrid>

                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>