@page "/Master/TradeInvesments"

@namespace GFCA.WebUI.Pages.Masters.Sales.TradeInvesments

<ContentMain>
    <Row>
        <Column Classes="col.md._12">
            <Card>
                <Header>
                    <CardTitle>
                        <i class="ion ion-clipboard mr-1"></i>
                        TradeInvesment Masters
                    </CardTitle>
                </Header>
                <Body>

                    <SfGrid TValue="TradeInvesmentDto" AllowPaging="true" AllowFiltering="true" AllowSorting="true" Toolbar="@(new string[] { "Add", "Edit", "Delete" })">
                        <SfDataManager AdaptorInstance="@typeof(TradeInvesmentService)" Adaptor="Syncfusion.Blazor.Adaptors.CustomAdaptor"></SfDataManager>
                        <GridEvents OnActionComplete="ActionCompleteHandler" TValue="TradeInvesmentDto"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="@EditMode.Dialog" Dialog="DialogParams">
                            <Template>
                                @{
                                    var model = (context as TradeInvesmentDto);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtTradeInvesmentCode" @bind-Value="@(model.TradeInvesmentCode)" Enabled="@(EnabledAdd)" FloatLabelType="FloatLabelType.Always" Placeholder="Code"></SfTextBox>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfTextBox ID="txtTradeActivity" @bind-Value="@(model.TradeActivity)" FloatLabelType="FloatLabelType.Always" Placeholder="TradeInvesment"></SfTextBox>
                                        </div>
                                    </div>
                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(TradeInvesmentDto.TradeInvesmentId) IsPrimaryKey="true" Visible="false" />
                            <GridColumn Field=@nameof(TradeInvesmentDto.TradeInvesmentCode) HeaderText="Code" TextAlign="@TextAlign.Left" HeaderTextAlign="@TextAlign.Center" Width="90"
                                        ValidationRules="@(new ValidationRules{ Required=true })"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })"
                                        ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                            <GridColumn Field=@nameof(TradeInvesmentDto.TradeActivity) HeaderText="Name" Width="250"
                                        ValidationRules="@(new ValidationRules{ Required=true})"
                                        FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Excel })"></GridColumn>

                        </GridColumns>
                    </SfGrid>

                </Body>
            </Card>
        </Column>
    </Row>
</ContentMain>